.chat-main
  .header
    .group-name
      = @group.name
      .members
        Member :
        - @group.users.each do |user|
          = user.name
    .group-edit
    = link_to 'Edit', edit_group_path(@group[:id]), class: "edit__btn"
  .messages
    = render @messages
  .message-form
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        .form-mask
          = f.label :image, class: 'form-mask__image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'form-mask__image__file'
        = f.submit 'Send', class: 'submit-btn'