.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "icons__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "icons__btn" do
          = icon('fa', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-lists
        = link_to '#' do
          .group-lists__name
            = group.name
          .group-lists__message
            まだメッセージがありません。
